-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      %th= link_to "Movie Title", order_movie_path("title")
      %th= link_to "Rating", order_movie_path("rating")
      %th= link_to "Release Date", order_movie_path("release_date")
      %th More Info
      %th input date
  %tbody
    - @movies.each do |movie|
      %tr{:class => movie.rating }
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)
        %td
          %input{:type => "date"}
= link_to 'Add new movie', new_movie_path

%h1 Search TMDb for a movie

= form_tag :action => 'search_tmdb' do

  %label{:for => 'search_terms'} Search Terms
  = text_field_tag 'search_terms'

  = submit_tag 'Search TMDb'
